.canvas
{
	background-color: white;
	border: 1px solid black;
	margin: 5px;
}

.ownCanvas
{

}

#canvasButtons button
{
	margin-left: 5px;
}

.panel-block
{
	background-color: white;
}

body
{
	background-color: #888;
}

#usernameSelectModal .modal-card, #imageDrawingModal .modal-card
{
	margin-top: 50px;
}

.buttonGroup a
{
	margin-right: 10px;
}