html
	head
		title= "it's a door -- use it!"

		script(src="/socket.io/socket.io.js")
		script(src="/js/jquery.min.js")
		script(src="/js/canvas.js")
		script(src="/js/draw.js")

		link(rel="stylesheet", href="/css/bulma.css")
		link(rel="stylesheet", href="/css/styles.css")
		link(rel="stylesheet", href="/css/font-awesome.min.css")

	body
		.columns
			.column#canvasOutlet
				canvas.canvas#drawCanvas(width=500, height=500)
				br
				button#penDefault= "Pen"
				button#penEraser= "Eraser"
				button#submit(onclick="SendImage();")= "Submit image"

			.column
				nav.panel#userOutlet
					p.panel-heading= "Players in room"
					.panel-block
						span.panel-icon
							i.fa.fa-user
						| 2kan