html
	head
		title= "it's a door -- use it!"

		script(src="/socket.io/socket.io.js")
		script(src="/js/jquery.min.js")
		script(src="/js/canvas.js")
		script(src="/js/draw.js")

		link(rel="stylesheet", href="/css/styles.css")

	body(style="background-color: gray")
		canvas.canvas#drawCanvas(width=500, height=500)

		br
		button#penDefault= "Pen"
		button#penEraser= "Eraser"
		button#submit(onclick="SendImage();")= "Submit image"

		br
		br

		canvas.canvas.opponentCanvas(width=500, height=500)